#header{
  background-color: #e2e2e2;
 
}

.logo {
  position: relative;
  top: 10px;
  font-size: 25px;
  left: 150px;
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

li {
  list-style-type: none;
}

.login,
.signup {
  border: 2px solid black;
  padding: 11px 13px;
}

.login-signup{
  display: flex;
  gap: 20px;
  position: relative;
  left: 200px;
}

.signup {
  background-color: black;
  color: white;
}

.login:hover {
  background-color: black;
  color: white;
}

