.logo {
  position: relative;
  top: 40px;
  font-size: 25px;
  left: 150px;
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 200px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style-type: none;
}

.login,
.signup {
  border: 2px solid black;
  padding: 11px 13px;
}

.signup {
  background-color: black;
  color: white;
}

.login:hover {
  background-color: black;
  color: white;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
    margin-left: 320px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: grey;
    transition: 1s;
    transform: translateY(-100vh);
  }

  .responsive_nav {
    transform: none;
  }

  .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
